# template .env file (copy this to .env and fill in the values)
# API keys:
GOOGLE_API_KEY=<>
TELEGRAM_BOT_TOKEN=<>  # can skip & setup later in nanoclas.sh
OPENCODE_PROVIDER=google
# default models (see https://ai.google.dev/gemini/docs/models for more options):
OPENCODE_MODEL=google/gemini-3.5-flash
OPENCODE_SMALL_MODEL=google/gemini-3.1-flash-lite
OPENCODE_FALLBACK_MODEL=google/gemini-3.1-flash-lite